[submodule "Drive-by-wire"]
	path = Arduinos/Drive-by-wire
	url = https://github.com/elcano/Drive-by-wire
[submodule "HighLevel"]
	path = Arduinos/HighLevel
	url = https://github.com/elcano/HighLevel
